
    <h1>About Us</h1>
    <p>
      Three students from Polytechnique who worked with Stubbe.
		<ul>
		  <li>Antoine Tilloy</li>
		  <li>Pierre Baqué</li>
		  <li>Jonathan Donier</li>
		</ul>	  
    </p>